/* CanteenSelection.css */
/* Importing Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.canteen-container {
    background-color: beige;
    height: 76vh; /* Full viewport height */
    width: 85.2vw; /* Full viewport width */
    display: flex;
    margin-left: 250px !important;
    margin-top: 70px !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0; /* Ensure there's no margin around the container */
    padding: 0; /* Ensure there's no padding */
    box-sizing: border-box; /* Include padding/border in the element's width and height */
    font-family: 'Poppins', sans-serif;
}
 
.app-title {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
 
.select-location {
    color: black;
    font-size: 28px;
    text-align: center;
    margin-bottom: 90px;
}
 
.button-group {
    display: flex;
    gap: 20px;
}
 
.canteen-btn {
    background-color: #f9a72e !important;
    color: black !important;
    border: none;
    margin-right: 50px;
    margin-bottom: 20px;
    border-radius: 50px !important;
    padding: 25px 30px !important; /* Adjust padding for height */
    width: 400px; /* Fixed width for all buttons */
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
.canteen-btn:hover {
    background-color: #3e3e3e;
   
}
 
.logo-select {
    margin-bottom: -15px;
    height:  70px;
    width: 70px;
}
 